/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*------------------------------------------
STARTING MY CSS SYLING FOR MIDTERM ASSIGNMENT 
-------------------------------------------*/
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #aad4cf;
}
body{
    background: #c9e4e1;
	margin: 0 auto;
	width: 1290px;
}
/* Trying to make the header lone starfish white and get sizing right before laying it over the wide image */
header h1{
    font-size: 4em;
	position: relative;
	top: -160px;
	left: 460px;
	z-index: 1;
    color: white;   
}
header img{
	width: 1290px;
	height: 400px;
}
article img{
    width: 200px;
	height: 200px;
    float: left;
	margin: 10px 30px 15px 10px;
}
/*Setting default size to something close to the mockup*/
nav{
	font-size: 1.6em;
	overflow: hidden;
	margin: 0px;
}
nav ul li a{
	text-decoration: none;
}
.home{
	float: left;
	/* top right bottom left for margin properties*/
	margin:0px 0px 30px 225px;
}
.contact{
	float: right;
	margin: 0px 300px 30px 0px;
	border-left: 1px solid black;
	
}
.story{
	float: right;
	margin: 0px 225px 30px 0px;
	border-left: 1px solid black;

}
h2{
	font-size:2.4em;
	margin: 10px;
}
h3{
	font-size: 1.4em;
}
article p{
    font-size: 1em;
	line-height: 1.6em;
	margin: 10px;
}
.facts{
	font-size: 1em;
	list-style-type: disc;
	padding-left: 30px;
}

#form{
	border: 1px solid black;
	padding: 20px;
	font-size: 1.2em;
	margin: 10px 10px 20px 10px;
} /* forgot the solid that why border wasn't working for a long time. could add margin to make it pushed in*/ 
#fullname{
	width: 100%;
	margin-bottom: 20px;
}
#email{
	width: 100%;
	margin-bottom: 20px;
}
#message{
	width: 100%;
	margin-bottom: 20px;
}
button{
	background: transparent;
	margin-top: 15px;
	padding: 14px 10px 14px 10px;
}
footer{
	margin: 15px;
	padding: 15px;
	text-align: right;
}

