/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ***********************************************
Project Requirements
Create a separate folder for your CSS file **
Add CSS reset code in the start of the file **
Mobile-first approach in the styling **
The maximum width of the container is 1200px **
Add media query for the screen size of 760px and above **
Use the 'Open Sans' Google font for the webpage **
Colours values used in the layout #c78c06, #ffe6ac, #222 and white **
Use of CSS Grid properties for a minimum of one element - Columns and rows for multiple parts in css to get this one done
Use of CSS Flexbox properties for a minimum of one element **
Follow proper folder structure and naming conventions **
CSS has code comments **
CSS code is valid
CSS is properly formatted **
Proper link to GitHub Pages site submitted **
Overall design and match with the provided mockup
REMEMBER TO EDIT LOREM IPSUM TO SOMEWHAT MATCH THE AMOUNT OF TEXT IN THE BOXES SO STYLES RIGHT AND SOME CLASSES TO HAVE NO SPACES
************************************************/
/* ***********************************************
Default sizes, fonts and buttons for project
************************************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.container{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0 auto;
}
h1{
	padding-top: 20px;
	line-height: 1.5;
	font-size: 3.5rem;
	font-weight: 700;
	margin: 25px 0 25px 10px;
}

h2{
	font-size: 2rem;
	margin: 40px 0 15px 10px;
	font-weight: 700;
}

h3{
	font-size: 1.5rem;
	margin: 25px 0 25px 10px;
	font-weight: 700;
}

h4{
	font-size: .8rem;
	margin-left: 10px;
	border-bottom: 2px solid #c78c06;
	font-weight: 700;
}
h6{ 
	display: none;
}
p{
	margin: 25px 0 0 10px;
	font-size: .8rem;
}

.icon-right{
	padding-left: 10px;
}

.button{
	color:white;
	background-color: #222222;
	padding: 25px 25px;
	border: none;
	margin: 10px;
	display: inline-block;
	text-decoration: none;
}
/* ***********************************************
Style for mobile first - Navigation
************************************************/
nav{
	background: #222222;
	padding: 10px;
}
nav li{
	background: #222222;
	text-align: center;
	padding: 10px;
}
nav li a{
	color: #c78c06;
	text-decoration: none;
	display: block;
	padding: 10px;
}
.logo{
	background: #c78c06;
}
.home a{
	color: #222222;
	background: #c78c06;
} /* Try to get the yellow box to match up with the logo background later on */
nav form{
	background: #222222;
	display: flex;
}
nav form input{
	flex-grow: 1;
}
nav form button{
	background: #222222;
	color: #c78c06;
	border: 1px solid #c78c06;
	display: inline-block;
	padding: 5px;	
}
.icon-zoom{
	font-size: 1.5rem;
}
/* ***********************************************
Style for mobile first - Header/Welcome
************************************************/
#banner{
	background-image: url(../images/main-banner.jpg);
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banneroverlay{
	background: #00000088;
	color: white;
}
.banneroverlay .button{
	background: #c78c06;
	color: #222222;
}
/* ***********************************************
Styling for mobile first - About us
************************************************/
#aboutus{
	background: #ffe6ac;
	padding: 10px;
}
#aboutus img{
	width: 100%;
}
#aboutus h2, #aboutus p{
	margin-left: 0px;
}
/* ***********************************************
Styling for mobile first - Our Services
************************************************/
#ourservices section{ /* Might edit with article and sections when finalizing desktop sfor the digital transformation and marketing boxes to work */
	background: #ffe6ac;
	width: 100%;
	margin: 10px;
}
#ourservices img{
	width: 100%;
}
/* ***********************************************
Styling for mobile first - Our Vision
************************************************/
.ourvision{
	color: white;
	background-image: url("../images/vision.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 10px;
}
.ourvision .button{
	border: 1px solid #c78c06;
}
/* ***********************************************
Styling for mobile first - Our team
************************************************/
#ourteam{
	margin: 10px;
}
#ourteam section{
	background: #ffe6ac;
	margin: 10px;
	padding-bottom: 25px;
}
#ourteam img{
	width: 100%;
}
#ourteam h3{
	margin-bottom: 10px;
}
/* ***********************************************
Styling for mobile first - Contact Us
************************************************/
.message form{
	margin: 10px;
	display: flex;
	flex-direction: column;
}
.message form input{
	margin: 10px 0 10px 0;
	height: 30px;
}
.message form textarea{
	margin: 10px 0 20px 0;
	padding-right: 10px;
	resize: none;
}
.message form button{
	background: #222222;
	color: #c78c06;
	padding: 5px;
	border: 0px;
	font-size: 1.25rem;
	margin: 0px;
	align-self: start;
}
.hours{
	margin: 10px;
}
.hours h3{
	margin-left: 0px;
}
table{
	width: 100%;
}
table, th, td{
	border: 1px solid black;
	padding: 15px;
}
th{
	background: #ffe6ac;
}
.location{
	margin: 10px;
}
.location iframe{
	width: 100%;
}
/* ***********************************************
Styling for mobile first - Footer
************************************************/
footer{
	background: #222222;
	color: #c78c06;
	padding: 10px;
}
/* ***********************************************
**************************************************
**************************************************
**************************************************
STYLING FOR DESKTOP - Media query
************************************************/
@media screen and (min-width: 760px){
	/* NAVIGATATION FOR DESKTOP */
	.container{
		max-width: 1200px;
		margin: 0 auto;
	}
	nav{
		padding: 30px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	nav form input{
		width: 210px;
	}
	.container ul{ 
		display: flex;
		flex-grow: 1;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 60px;
		margin-right: 20px;
	}	
	.container ul li{
		padding: 10px 20px;
	}
	/* later on try to fix the home anchor to match the square size in the mockup and white margins at larger views*/
	/* ABOUT US FOR DESKTOP */
	#aboutus{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.aboutuscontent{
		padding: 10px;
		line-height: 1.2;
	}
	/* OUR SERVICES FOR DESKTOP */
	.ourservicesinfo{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr, 1fr;
	}
	.ourservicesinfo section{
		display: flex;
		flex-direction: column;
	}
	.ourservicesinfo section:nth-child(1){
		grid-column: 1 / span 3;
		grid-row: 1;
	}
	.ourservicesinfo section:nth-child(2){
		grid-column: 4 / span 3;
		grid-row: 1;
	}
	.ourservicesinfo section:nth-child(3){
		grid-column: 1 / span 2;
		grid-row: 2;
	}
	.ourservicesinfo section:nth-child(4){
		grid-column: 3 / span 2;
		grid-row: 2;
	}
	.ourservicesinfo section:nth-child(5){
		grid-column: 5 / span 2;
		grid-row: 2;
	}
	/* OUR VISION FOR DESKTOP */
	.ourvision{
		margin-top: 20px;
	}
	/* OUR TEAM FOR DESKTOP */
	.bios{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.bios section{
		margin:0;
		padding:0;
	}
	.bios section:nth-child(1){
		grid-column: 1 / 1;
		grid-row: 1 / 1;
	}
	.bios section:nth-child(2){
		grid-column: 2 / 2;
		grid-row: 1 / 1;
	}
	.bios section:nth-child(3){
		grid-column: 2 / 2;
		grid-row: 2 / 2;
	}
	.bios section:nth-child(4){
		grid-column: 1 / 1;
		grid-row: 2 / 2;
	}
	/* CONTACT US FOR DESKTOP */
	.contacttiles{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
	}
	.contacttiles section:nth-child(1){
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.contacttiles section:nth-child(2){
		grid-column: 1 / span 2;
		grid-row: 2 / 2;

	}
	.contacttiles section:nth-child(3){
		grid-column: 2 / 2;
		grid-row: 1 / 1;
	}
}
/* *********************************************
END OF STYLING FOR DESKTOP - Media query
************************************************/