/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************************
Project Requirements
Create a separate folder for your CSS file **
Add CSS reset code in the start of the file **
Mobile-first approach in the styling
The maximum width of the container is 1200px **
Add media query for the screen size of 760px and above
Use the 'Open Sans' Google font for the webpage
Colours values used in the layout #c78c06, #ffe6ac, #222 and white
Use of CSS Grid properties for a minimum of one element
Use of CSS Flexbox properties for a minimum of one element 
Follow proper folder structure and naming conventions **
CSS has code comments **
CSS code is valid
CSS is properly formatted
Proper link to GitHub Pages site submitted
Overall design and match with the provided mockup
************************************************/

/************************************************
Defaults
************************************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#container{
	background: white;
	font-family: 'Open Sans' , sans-serif;
	max-width: 1200px;
}

/************************************************
Style for final
************************************************/
